{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for category in site.categories %}
{% if category[0] == page.category %}
<section id="{{ category[0] | slugify | downcase }}" class="taxonomy__section">
  <div class="entries-{{ entries_layout }}">
    <br>
    {% for post in category.last %}
    {% include archive-single.html type=entries_layout %}
    {% endfor %}
  </div>
  <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
</section>
{% endif %}
{% endfor %}
